/*
* @Author: Administrator
* @Date:   2019-03-26 09:19:50
* @Last Modified by:   Administrator
* @Last Modified time: 2019-03-26 13:25:44
*/

.source-tab {
	margin-top: 50px;
	margin-bottom: 20px;
}
/* 左边开始 */
.leftbox{
	border: 1px solid #ccc;
}
.topbox {
background:#0C3869;
padding:10px;
position: relative;
}

.topbox h4{
	color:#fff;
	font-size: 26px;
}
.bottombox li{
border-bottom: 1px solid #ccc;
padding:8px 5px;
}
.hidebox{
	background: #2767AD;
	position: absolute;
	top:69px;
	left:0;
	z-index: 999;
	width: 100%;
	display: none;

}
.topbox:hover .hidebox{
display: block;
}
.hidebox li{
border-bottom: 1px solid #ccc;
padding:20px;
color:#fff;
font-size: 18px;
}
.hidebox span{
font-size: 14px;
color:#ccc;
}
.bottombox span{
    margin-right: 10px;
}

.bottombox li.actice span{
color:red;
}
.ulbox{
	position: absolute;
	left:260px;
	top:0px;
	background:#2767AD;
	width: 300px;
	height: 556px;
	opacity: .8;
	overflow: hidden;
}
.hidebox ul li .ulbox{
	display: none;
}
.hidebox ul li:hover .ulbox{
display: block;
}
.ulbox li {
	padding:14px;
}
.ulbox li a{
	color:#fff;
}
.bottombox .fristli{
	font-size: 18px;
	color:#B71B2C;
}
.bottombox .activeli{
	font-size: 14px;
	color:#B71B2C;
}
/* 左边结束 */
.booklist{
	margin-top: 30px;
	text-align: center;
}
.booklist img{
	margin-bottom: 10px;
}
.book-info{
font-size: 16px;
color:#666;
}