

 .bookinfo{
margin-top: 50px;
margin-bottom: 20px;
 }
/* 左边开始 */
.leftbox{
	border: 1px solid #ccc;
}
.topbox {
background:#0C3869;
padding:10px;
position: relative;
}

.topbox h4{
	color:#fff;
	font-size: 26px;
}
.bottombox li{
border-bottom: 1px solid #ccc;
padding:8px 5px;
}
.hidebox{
	background: #2767AD;
	position: absolute;
	top:69px;
	left:0;
	z-index: 999;
	width: 100%;
	display: none;

}
.topbox:hover .hidebox{
display: block;
}
.hidebox li{
border-bottom: 1px solid #ccc;
padding:20px;
color:#fff;
font-size: 18px;
}
.hidebox span{
font-size: 14px;
color:#ccc;
}
.bottombox span{
    margin-right: 10px;
}

.bottombox li.actice span{
color:red;
}
.ulbox{
	position: absolute;
	left:260px;
	top:0px;
	background:#2767AD;
	width: 300px;
	height: 556px;
	opacity: .8;
	overflow: hidden;
}
.hidebox ul li .ulbox{
	display: none;
}
.hidebox ul li:hover .ulbox{
display: block;
}
.ulbox li {
	padding:14px;
}
.ulbox li a{
	color:#fff;
}
.bottombox .fristli{
	font-size: 18px;
	color:#B71B2C;
}
.bottombox .activeli{
	font-size: 14px;
	color:#B71B2C;
}
/* 左边结束 */
.bookinfo h3{
	color:#26aad8;
}
.bookinfo img{
	width:420px;
	height: 360px;

}
.bookinfo .title{
	font-size: 17px;
}
.bookinfo .but{
	margin-top: 100px;
	padding:10px;
	width: 200px;
	font-size: 20px;
}
.bookinfo strong{
	font-size: 16px;
	color:blue;
	margin-bottom: 20px;
	display: block;

}
.bookinfo .p-info{
font-size: 16px;
color:#666;
text-indent: 34px;
margin-bottom: 20px;
}
/* 图片盒子开始 */

#ink_showImg {
    height: 360px;
    width: 420px;
    position: relative;
    float: left;
    z-index: 5;
}
#ink_showImg .small_pic {
    background:#fff;
    position: relative;
    height: 100%;
}
#ink_showImg .small_pic .img {
    background: #fff;
    width: 420px;
    height: 360px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

div.zoomMask {
    position: absolute;
    background: rgba(0,0,0,0.2);
    cursor: move;
    z-index: 10;
    width: 150px !important;
    height: 150px !important;
}
 .allImg{ width: 100%; height: 100%;}
	div.zoomDiv {	
				top:0;
				left:0;
				background: #ffffff;
				display: none;
				text-align: center;
				overflow: hidden;
				position: absolute;
				 z-index: 999;
	}
				
div.zoomDiv img{ width:800px;position: relative;}  

/* 图片盒子结束 */

/* 切换开始 */
.tabdiv{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #f1f1f2;
	margin-bottom: 20px;
}
/* 切换结束 */
.title1{
	color:rgb(247, 150, 70);
	font-weight: 700;
	font-size: 16px;
}