<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="../css/default.css" />
		<link rel="stylesheet" href="../css/header.css">
		<link rel="stylesheet" type="text/css" href="../css/college2.css" />
		<link rel="stylesheet" href="../css/footer.css">
		<link rel="stylesheet" href="../css/collTrain-search.css">
		<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/vue-router/2.6.0/vue-router.min.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
		<style>
		.demo-alert-box{
			background:#ccc;
		}

		</style>
	</head>
	<body>
		<!-- 头部导航开始 -->
		<div class="headNav">
			<!-- 第一条导航开始 -->
			<div class="first">
				<div class="autowidth clearfix">
					<!-- 左侧导航开始 -->
					<ul class="headNavL fl">
						<li class="fl headNavF">
							<a href="http://www.irobot-edu.com/" target="_blank">
								<img src="../images/video5.png" alt="首页" width="14" height="13">
							首页</a>
						</li>
						<li class="fl">
							<a href="#">资讯</a>
						</li>
						<li class="fl">
							<a href="#">商城</a>
						</li>
						<li class="fl">
							<a href="#">学院</a>
						</li>
						<li class="fl">
							<a href="#">社区</a>
						</li>
						<li class="fl">
							<a href="#">大赛</a>
						</li>
					</ul>
					<!-- 左侧导航结束 -->
					<!-- 右侧注册 登录开始 -->
					<ul class="headNavL headNavR fr clearfix">
						<li class="fl">
							<a href="#">登录</a>
						</li>
						<li class="fl">
							<a href="#">注册</a>
						</li>
					</ul>
					<!-- 右侧注册 登录结束 -->
					<!-- 搜索框开始 -->
					<div class="right fr">
						<input id="ipt_Search" placeholder="请输入关键词" type="text" value="">
						<a class="search" href="javascript:FnSearch();">搜索</a>
					</div>
					<!-- 搜索框结束 -->
				</div>
			</div>
			<!-- 第一条导航结束 -->
			<!-- 第2条导航开始 -->
			<div class="second">
				<div class="hover_bg" style="height: 0px;"></div>
				<div class="autowidth  clearfix">
					<!-- 左侧logo开始 -->
					<div class="positionLogo fl clearfix">
						<a href="#" target="_blank" class="logo1 fl"></a>
						<a href="#" class="logo2 fl"></a>
					</div>
					<!-- 左侧logo结束 -->
					<!-- 右边导航开始 -->
					<div class="fr clearfix">
						<ul class="header clearfix" id="HeadNav">
							<li data-url="#">
								<a href="#" class="active">
								学院首页</a>
							</li>
							<li>
								<a href="#">
								学院概况</a>
								<div class="dl_1 clearfix">
									<div class="b_padd clearfix">
										<div class="box1_f1">
											<div class="dt">学院概况</div>
											<div class="clearfix">
												<a href="#" class="li2">学院介绍</a>
												<a href="#" class="li2">发展历程</a>
												<a href="#" class="li2">学院通告</a>
												<a href="#" class="li2">校企合作</a>
												<a href="#" class="li2">组织机构</a>
											</div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">教学理念</a></div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">服务通告</a></div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="#">
								人才培养</a>
								<div class="dl_1 clearfix">
									<div class="b_padd clearfix">
										<div class="box1_f1">
											<div class="dt">人才培养</div>
											<div class="clearfix">
												<a href="#" class="li2">中职教育</a>
												<a href="#" class="li2">高职教育</a>
												<a href="#" class="li2">本科教育</a>
												<a href="#" class="li2">工业机器人应用工程师</a>
												<a href="#" class="li2">工业机器人系统集成工程师</a>
											</div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">中职教育</a></div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">高职教育</a></div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="#">
								教学资源</a>
								<div class="dl_1 clearfix">
									<div class="b_padd clearfix">
										<div class="box1_f1">
											<div class="dt">教学资源</div>
											<div class="clearfix">
												<a href="#" class="li2">推荐教材</a>
												<a href="#" class="li2">培训装备</a>
												<a href="#" class="li2">教学视频</a>
												<a href="#" class="li2">配套教案</a>
												<a href="#" class="li2">考核题库</a>
											</div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">推荐教材</a></div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">培训装备</a></div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="#">
								师资队伍</a>
								<div class="dl_1 clearfix">
									<div class="b_padd clearfix">
										<div class="box1_f1">
											<div class="dt">师资队伍</div>
											<div class="clearfix">
												<a href="#" class="li2">专家教授</a>
												<a href="#" class="li2">高级顾问</a>
												<a href="#" class="li2">讲师团队</a>
											</div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">专家教授</a></div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">高级顾问</a></div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="#">
								在线学堂</a>
								
							</li>
							<li>
								<a href="#">
								培训认证</a>
								<div class="dl_1 clearfix">
									<div class="b_padd clearfix">
										<div class="box1_f1">
											<div class="dt">培训认证</div>
											<div class="clearfix">
												<a href="#" class="li2">培训课程</a>
												<a href="#" class="li2">证书查询</a>
											</div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">培训课程</a></div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">证书查询</a></div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a href="#">
								就业发展</a>
								<div class="dl_1 clearfix">
									<div class="b_padd clearfix">
										<div class="box1_f1">
											<div class="dt">就业发展</div>
											<div class="clearfix">
												<a href="#" class="li2">招聘信息</a>
												<a href="#" class="li2">实习岗位</a>
												<a href="#" class="li2">学生感言</a>
												<a href="#" class="li2">就业情况</a>
											</div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">机械工程师</a></div>
										</div>
										<div class="box1_f2">
											<a href="#" class="img1">
												<img src="../images/hidenav.jpg" width="288" height="134">
											</a>
											<div class="p"><a href="">销售经理</a></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- 右边导航结束 -->
				</div>
			</div>
			<!-- 第2条导航结束 -->
		</div>
		<!-- 头部导航结束 -->
		<!-- 通栏图片盒子开始 -->
		<div class="collSubBan">
			<a  href ='' target="_blank" title="">
			<img src="../images/zs.jpg" width="100%;" height="auto"/></a>
		</div>
		<!-- 通栏图片盒子结束 -->
		<!-- 跳转开始 -->
		<div class="subNav">
			<div class="autowidth clearfix">
				<div class="fl subNavMenu">
					<a href="collRecruit.html" class="active">培训课程<i></i></a>
				</div>
				<div class="fl subNavMenu">
					<a href="search-book.html">证书查询<i></i></a>
				</div>
				
				<div class="collBread fr">
					<a href="index.html">学院首页</a>&gt;<a href="#">培训认证</a>&gt;<span>培训课程</span>
				</div>
			</div>
		</div>
		<!-- 跳转结束 -->
		<!-- 内容开始 -->
		<div class="sigleCon" id="collTrainSearch">
			<div class="autowidth">
				<div class="sigleT">
					<em>training course</em>
					<span style="margin-left: -60px;">培训课程</span><i></i>
				</div>
				<div class="sigleConTxt">
					<div class="orgT" style="left:0px;">
						<span>FANUC机器人装调维修工（中级）苏州3月周末班</span>
					</div>
					<!-- 公共盒子开始 -->
					<div class="trainPart">
						<div class="trainPartT">
							<img src="../images/coll53.png" alt="培训目标">
							培训目标
						</div>
						<div class="trainPartIntro">
							<p>
								具有工业机器人应用项目装配、编程操作、维护保养的能力，掌握机器人现场调试和基本应用。
							</p>
						</div>
					</div>
					<!-- 公共盒子结束 -->
					<!-- 公共盒子开始 -->
					<div class="trainPart">
						<div class="trainPartT">
							<img src="../images/coll54.png" alt="培训目标">
							学员要求
						</div>
						<div class="trainPartIntro">
							<p>
								具有一定机械、电气、机器人、数控、自动化技术基础的学生、教师和社会从业人员。
							</p>
						</div>
					</div>
					<!-- 公共盒子结束 -->
					<!-- 公共盒子开始 -->
					<div class="trainPart">
						<div class="trainPartT">
							<img src="../images/coll55.png" alt="培训目标">
							培训时间
						</div>
						<div class="trainPartIntro">
							<p>
								7天
							</p>
						</div>
					</div>
					<!-- 公共盒子结束 -->
					<div>
						<p>
							<img src="../images/lesson.JPG" alt="">
						</p>
					</div>
					<!-- 表单开始 -->
					<div class="collTrForm">
						<div class="formT">
							<p>欢迎您留下报名预约信息，我们将尽快与您联系！</p>
							
							<i></i>
						</div>
						<form action="http://localhost:3000/posts" id="Form" method="post">
							<ul>
								<li style="margin-bottom:20px;">
									<span style="margin-right:32px;font-weight:700;">姓名</span>
									<input type="text" name="uname">
								</li>
								<li  style="margin-bottom:20px;">
									<span  style="font-weight:700;">联系电话</span>
									<input type="text" name="uphoto">
								</li>
								<li  style="margin-bottom:20px;margin-left:18%;">
									<button type="submit" onclick="checkForm();">提交</button>
									<button type="reset">重填</button>
								</li>
							</ul>
						</form>
					</div>
					<div class="goBack">
						<a href="#" class="goBackLink">返回</a>
					</div>
					<!-- 表单结束 -->
					<!-- 影藏盒子开始 -->
					<div style="display:none;">
						<router-link to="/foo">to foo</router-link>
						<router-link to="/bar">to bar</router-link>
						<router-view></router-view>
					
						<name-b title='我是另一个数据1'></name-b>
						<name-b title='我是另一个数据2'></name-b>
						<name-b title='我是另一个数据3'></name-b>
			
						<div :style="{ fontSize: postFontSize + 'em',color:'green' }">
							<blog-post
							v-for="post in posts"
							v-bind:key="post.id"
							v-bind:post="post"
							v-bind:content="post.content"
							v-on:enlarge-text="onEnlargeText(0.1)"
							></blog-post>
						</div>
						<input type="date" class="form-control">
						<input type="text"  v-model="message">
						<p>{{message}}</p>
						<input ref="input" type="hidden">
					</div>
					<!-- 影藏盒子结束 -->
				</div>
			</div>
		</div>
		<!-- 内容结束 -->
		<!-- 底部开始 -->
		<div class="footer_1">
			<div class="autowidth clearfix">
				<div class="fl clearfix">
					<dl>
						<dt><a href="#">首页<span></span></a></dt>
					</dl>
					<dl>
						<dt><a href="#">资讯<span></span></a></dt>
						
						<dd>
						<a href="#">行业政策</a>
						</dd>
						
						<dd>
						<a href="#">国内动态</a>
						</dd>
						
						<dd>
						<a href="#">国外动态</a>
						</dd>
						
						<dd>
						<a href="#">展会信息</a>
						</dd>
						
					</dl>
					<dl>
						<dt>
						<a href="#">商城<span></span></a>
						</dt>
						
						<dd>
						<a href="#">
						工业机器人</a>
						</dd>
						
						<dd>
						<a href="#">
						教学装备</a>
						</dd>
						
						<dd>
						<a href="#">
						书籍教材</a>
						</dd>
						
						<dd>
						<a href="#">
						核心部件</a>
						</dd>
						
						<dd>
						<a href="#">
						系统集成</a>
						</dd>
						
						<dd>
						<a href="#">
						科教娱乐</a>
						</dd>
						
					</dl>
					<dl>
						<dt><a href="#">学院<span></span></a></dt>
						<dd><a href="#">学院概况</a></dd>
						<dd><a href="#">人才培养</a></dd>
						<dd><a href="#">教学资源</a></dd>
						<dd><a href="#">师资队伍</a></dd>
						<dd><a href="#">在线学堂</a></dd>
						<dd><a href="#">培训认证</a></dd>
						<dd><a href="#">就业发展</a></dd>
					</dl>
					<dl>
						<dt><a href="#" target="_blank">社区<span></span></a></dt>
						<dd><a href="#">社区</a></dd>
					</dl>
					<dl>
						<dt><a href="#">大赛<span></span></a></dt>
						<dd><a href="#">大赛介绍</a></dd>
						<dd><a href="#">初赛作品</a></dd>
						<dd><a href="#">决赛盛况</a></dd>
						<dd><a href="#">往期回顾</a></dd>
					</dl>
				</div>
				<div class="fr">
					<div class="top">
						<div class="youqing">
							<input readonly="" value="友情链接">
							<img class="img" src="../images/jj.png">
							<div class="lianjie" style="display: none;">
								<a href="http://www.edubot.cn/" target="_blank">江苏哈工海渡工业机器人有限公司</a>
								<a href="http://www.hitrobotgroup.com/" target="_blank">哈工大机器人集团</a>
								<a href="http://www.wozuo.com/" target="_blank">我做网</a>
							</div>
						</div>
					</div>
					<div class="bottom">
						<a class="a1" href="javascript:;">
							<img src="../images/codeCom.jpg" width="120" height="120">
						</a>
						<a class="a2" href="javascript:;">
							<img src="../images/codeCom2.png" width="120" height="120">
						</a>
						<a class="a3" href="javascript:;">
							<img src="../images/codeCom3.jpg" width="120" height="120">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部结束 -->
		<!-- 版权开始 -->
		<div class="footer_2">
			<div class="autowidth clearfix">
				<div class="fl">
					<a href="#" target="_blank"></a> Copyright 2013昊科世纪 www.haokeshiji.com 版权所有 All Rights Reserved
				</div>
				<div class="fr">
					<a href="../college2/help.html">帮助中心 </a>
					<span>|</span>
				</div>
			</div>
		</div>
		<!-- 版权结束 -->
		<script src="../js/public.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/GetDatePage.js"></script>
		<script src="../js/jquery.pagination.js"></script>
		<script src="../js/jquery.cookie.js"></script>
		<script src="../js/collTrain-search.js"></script>
	</body>
</html>